html {
    background-color:rgba(171, 214, 165, 0.5);
    background: url(BuggyStackBeige.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat','Roboto', sans-serif;

}

body {
}

section {
    text-align: center;
    vertical-align: middle;
}
.fade-box {
    padding-top:2rem;
    background-color: rgba(255,255,255, 0.5);;
    border-radius: 5px;
}

.center-box {
    margin:auto;
}

/* font sizing */
.mega, h1 {
    font-size: 5rem;
    display:inline-block;
    margin: .9rem;   
}

.large, h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
    color:#3b3b3b;
}

.launch {
    font-weight: 400;
    font-size: 1rem;
    text-align: right;
    color: #3b3b3b;
    display: inline-block;   
}

.fade-box-launch {
    background-color: rgba(255,255,255, 1);;
    border-radius: 5px;
    padding:.6rem;
    border: 3px solid #ffffff;
}

/* font-text colors */

.green {
    color: #abd6a5;
}

/* tag sizing */

.half {
    width:70%;
}

.twothirds {
    width: 60%;
}

 subscribe button 
input:active {
    outline:none;
}
input {outline:none;}

.subscribe {
    border: 0;
    padding: 10px;
    font-size: 18px;
    display: inline;
    margin: 5px auto;
    border-radius: 6px;
    border-decoration: none;

}
/*abd6a5*/

.subscribe[type="email"] {
    margin-right: 0.5em;
    border: 3px solid #ffffff;
    color: #3b3b3b;
}

.subscribe[type="submit"] {
    background: #ffffff;
    border: 3px solid #ffffff;
    color: #3b3b3b;
    margin-bottom: 2rem;
}

.subscribe[type="submit"]:hover {
    -webkit-transition: all ease-in-out .6s;
    -moz-transition: all ease-in-out 0.6s;
    -ms-transition: all ease-in-out 0.6s;
    -o-transition: all ease-in-out 0.6s;
    transition: all ease-in-out .6s;
    background: rgba(255,255,255, 0.5);
}
